/*logga=cuisineOT*/

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=PT+Serif&display=swap');/*ÄNDRA COOKIE TILL NÅT LÄSLIGT!!*/

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    box-sizing: border-box;
    background-color: rgb(0,0,0,0);
    margin: 0;
    max-width: 100%;
    background-size: cover;
}

a{
    text-decoration: underline;
    color: inherit;
}

#about_us{
    grid-area: ab;
}

.ab_kategori{
    padding: 0.7rem;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
}

#ab_img{
    padding: 0.5rem;
}

#ab_text{
    width: 50%;
}

.box{
    padding: 0.7rem;
    border-radius: 15px;
}

.box_länk{
    background-color: rgba(255, 228, 196, 0.678);
    text-decoration: none;
    margin-bottom: 1rem;
}

#erbjudanden{
    grid-area: er;
    background-image: url('img/mink-mingle-qZ5lPCPvdXE-unsplash.jpg');

    display: flex;
    flex-direction: column-reverse;
}

#erbjudanden_text{
    margin-bottom: 2rem;
}

footer{
    background-color: rgba(255, 228, 196, 0.65);
    grid-area: fo;
}

#footer_hr{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 1rem;
}

.footer_länk{
    font-size: 0.7rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;

    align-self: flex-end;
}

h1{
    font-family: 'PT Serif', serif;
    font-size: 2.2rem;
    margin: 0 0 1rem;
    text-align: center;
}

h2{
    font-family: 'PT Serif', serif;
    font-size: 2rem;
}

h3{
    font-family: 'PT Serif', serif;
    padding-top: 0.5rem;
}

h4{
    font-family: 'PT Serif', serif;
    text-align: center;
    padding-bottom: 10px;
}

hr{
    border: 0;
    height: 1px;
    background: #eee0c8;
}

#hyr_oss{
    grid-area: hy;
    background-image: url('img/reinhart-julian-OeSIIEx1-ps-unsplash.jpg');

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#karta{
    grid-area: ka;
    background-image: url('img/karta.png'); 
    text-decoration: none;

    display: flex;
    align-items: flex-end;
}

.kategori{
    display: flex;
    flex-wrap: wrap;

    margin: 30px 0 0;
}

li{
    margin: 1rem;
}

#logga{
    width: 75%;
    height: auto;
    align-self: center;
}

#meny{
    grid-area: me;

    display: flex;
    flex-direction: column;
}

.mellan_block{
    margin: 25px 0 50px;
}

#musiker{
    grid-area: mu;
    background-image: url('img/john-matychuk-gUK3lA3K7Yo-unsplash.jpg');

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.nav_kat{
    padding-right: 2rem;
}

#nav_lankar{
    font-size: 1.4rem;
    font-family: 'PT Serif', serif;
    color: #eee0c8;
    text-decoration: none;
}

#nav_main{ 
    background-color: #80572b;
    min-height: 100vh;
    width: 325px;
    position: fixed; 
    right: 0;
    top: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#nav_produkter{
    padding: 0 50px;
    position: fixed;
    height: 15vh;
    width: 80vw;
    top: 0;
    background-color: rgb(207, 158, 90);

    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    padding: 0.5rem;
}

.pris{
    font-size: 1.3rem;
    margin: 5px;
}

.produkt{
    width: 26%;
    margin: 20px 3.66%;
    padding: 0.7rem;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 15px;
}

.titel_kategori{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#w1{
    gap: 15px;   
    padding: 2rem 3.5rem;
    background-color: rgb(207, 158, 90);
    display: grid;
    grid-template-columns: 4fr 4fr 6fr 20vw;
    grid-template-rows: minmax(500px, 90vh) 2.5rem minmax(220px, 40vh) minmax(220px, 40vh) 2.5rem 100px;
    grid-template-areas:    
    
    "er er er . "
    ". . . ."
    "ka mu mu ."
    "hy mu mu ."
    ". . . ."
    "fo fo fo ."
    ;
}

#w2{
    background-color: rgb(219, 182, 131);
    padding: 2rem 3.5rem;

    display: grid;
    grid-template-columns: 1fr 20vw;
    grid-template-rows: 15vh 1fr 100px;
    grid-template-areas: 
    
    ". ."
    "me ."
    "fo ."
    ;
}

#w3{
    background-color: rgb(219, 182, 131);
    padding: 2rem 3.5rem;

    display: grid;
    grid-template-columns: 1fr 20vw;
    grid-template-rows: 1fr 100px;
    grid-template-areas: 
    
    "ab ."
    "fo ."
    ;
}

#w_ab_img{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
}

#w_ab_text{
    padding: 0.5rem 1rem;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#w_ab_text2{
    padding: 0.5rem 1rem;

    display: flex;
    justify-content: space-between;
}

#w_erbjudanden{
    min-width: 270px;
    max-width: 33%;
    height: auto;
    background-color: rgba(255, 228, 196, 0.795);
    padding: 1.25rem;
}

#w_footer1{
    height: 60%;
}

#w_footer2{
    height:40%;

    display: flex;
    justify-content: space-between;
}

#w_footer_länkar{
    height:100%;

    display: flex;
}

#Varma_drycker #Kalla_drycker #Mat #Bakverk{
    Padding: 0 10px;
}