/*logga=cuisineOT*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /*rubrik*/
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap'); /*brödtext*/
*{
    font-family: 'Cookie', cursive;
    font-size: 1.1rem;
    box-sizing: border-box;
    background-color: rgb(0,0,0,0);
    margin: 0;
    max-width: 100%;
}

li{
    margin: 1rem;
}

h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 2.2rem;
    margin: 0 0 1rem;
    text-align: center;
}

h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 2.2rem;
    text-align: center;
}

body{
    background-color: rgb(246, 183, 92);
}

.box{
    padding: 0.7rem;
    background-color: rgb(251, 218, 199);
    border-radius: 15px;
}

header{ 
    grid-area: he;
    background-color: rgb(153, 91, 116);
    height: 75px;
    width: 100vw;
    position: fixed; 
}

#w1{  
    background-color: rgb(246, 183, 92);
    gap: 15px;   
    margin: 0 3.5rem 1rem;
    background-color: rgb(246, 183, 92);
    display: grid;
    grid-template-columns: 4fr 4fr 6fr;
    grid-template-rows: 75px 90vh 3.25rem 40vh 40vh 3.25rem 20vh;
    grid-template-areas:    
    
    "he he he"
    "er er er"
    ". . ."
    "ka mu mu"
    "hy mu mu"
    ". . ."
    "ab ab ab"
    ;
}

#intermediär{
    grid-area: ax;
}

#intermediär{
    grid-area: bx;
}

#karta{
    grid-area: ka;
}

#erbjudanden{
    grid-area: er;
    background-image: url('img/mink-mingle-qZ5lPCPvdXE-unsplash.jpg');
    background-size: cover;
}

#text{
    min-width: 270px;
    max-width: 33%;
    height: 100%;
    background-color: rgba(255, 228, 196, 0.678);
    padding: 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#musiker{
    grid-area: mu;
}

#hyr_oss{
    grid-area: hy;
}

#about_us{
    grid-area: ab;
}